/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 2rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
section,
footer {
  margin-bottom: 20px;
}

/* style */
header h2:first-of-type {
  color: hsl(212, 6%, 44%);
  font-weight: 400;
}
header h2:last-of-type {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  padding-bottom: 1rem;
}
p {
  color: hsl(234, 12%, 34%);
  font-weight: 400;
  padding-bottom: 3rem;
}
header {
  text-align: center;
}

section {
  background-color: white;
  box-shadow: 0px 10px 20px hsla(210, 6%, 44%, 0.253);
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  border-top: 5px solid;
  border-top-color: var(--bt-color, black);
}
section h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}
img {
  align-self: flex-end;
  margin-top: 1.5rem;
  width: 64px;
  height: auto;
}
@media screen and (min-width: 768px) {
  header p {
    max-width: 550px;
    margin: 0 auto;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    max-width: 1100px;
  }

  main section:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2; 
  }

  main section:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  main section:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  main section:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}
